@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik+Moonrocks&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --heading-fs: 2rem;
  --py: 5%;
  --px: 10%;
  --normal: 1.2rem;
  --bg-dark: #1f2937;
  --bg-btn: #3882f6;
}

/* header section */

.logo {
  font-family: cursive;
  font-size: 2.5rem;
  cursor: pointer;
}

.header {
  display: flex;
  background-color: var(--bg-dark);
  color: white;
  padding: 1% var(--px);
  margin: 0 auto;
  align-items: center;
}

.right-links {
  display: flex;
  margin-left: auto;
  gap: 16px;
}

.header a {
  font-size: var(--normal);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: var(--bg-btn);
}
/* hero section */

.hero {
  display: flex;
  background-color: var(--bg-dark);
  padding: var(--py) var(--px);
  justify-content: space-between;
  gap: 32px;
  line-height: 1.5;
  align-items: center;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.hero h1 {
  font-size: var(--heading-fs);
  font-weight: bolder;
}

.hero p {
  font-size: var(--normal);
}

.react-img {
  background-color: white;
}

.hero .btn-sign-in {
  padding: 8px 32px;
  margin: 2% 0;
  background-color: var(--bg-btn);
  border-radius: 10px;
  color: white;
  font-size: var(--normal);
  border: 1px solid white;
}

/* tech section */

.tech{
  padding: var(--py) 0;
}
.tech-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  gap: 32px;
}

.tech-container .tech-img{
  border: 2px solid var(--bg-btn);
  border-radius: 20px;
  padding: 1%;
  height: 200px;
  width: 200px;
}
.tech-container div{
  flex: 1;
}
.tech .heading{
  font-size: var(--heading-fs);
  margin-bottom: 48px;
}

.tech-container .text{
  font-size: var(--normal);
  line-height: 1.5;
}
/* utility classes */

.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.btn:hover{
  background-color: #fff;
  color: var(--bg-dark);
  font-weight: bold;
  cursor: pointer;
}